/************************************************************************************
RESET
*************************************************************************************/
html,body,address,blockquote,div,dl,form,h1,h2,h3,h4,h5,h6,ol,p,pre,table,ul,dd,dt,li,tbody,td,tfoot,th,thead,tr,button,del,ins,map,object,a,abbr,acronym,b,bdo,big,br,cite,code,dfn,em,i,img,kbd,q,samp,small,span,strong,sub,sup,tt,var,legend,fieldset,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	margin: 0;
	padding: 0;
}

img,fieldset {
	border: 0;
}

/* set image max width to 100% */
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

/* set html5 elements to block */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

body {
	background: #ffffff url() no-repeat center top;
	font: 100% Arial, Helvetica, sans-serif;
	color: #666;
	padding: 0px;
	margin: 0px;
}

a {
	color: #026acb;
	text-decoration: none;
	outline: none;
}

a:link {
	text-decoration: none;
	color: green
}

a:active {
	text-decoration: blink
}

a:hover {
	text-decoration: none;
	color: #2fe2bf
}

a:visited {
	text-decoration: none;
	color: #E67E22
}

/************************************************************************************
color
*************************************************************************************/
.colorwhite {
	color: #ffffff
}

.colorblack {
	color: #000000
}

.colorred {
	color: #ff0000
}

.colormgray {
	color: #CCCCCC
}

.colordgray {
	color: #34495E
}

.colordblue {
	color: #2f4154
}

.colororange {
	color: #ff9900
}

.colorgreen {
	color: #1ABC9C
}

.colororred {
	color: #E74C3C
}

.fontming {
	font-family: "Times New Roman", Georgia, Serif
}

.clearFix {
	clear: both;
}

h1 {
	font-size: 1.875em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.125em;
}

h4 {
	font-size: 0.875em;
}

h5 {
	font-size: 0.75em;
}

* {
	box-sizing: border-box;
	font-family: Arial, Verdana, Sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html {
	overflow-x: hidden;
	width: 100%;
	font-size: 100%
}

body {
	overflow-x: hidden;
	width: 100%;
	font-size: 100%
}

.j-nav {
	background-color: #2f4154;
	margin: 0 0 55px 0;
	text-align: center;
	box-sizing: border-box;
	height: 55px;
	padding: 0;
}

.j-nav .j-nav-more {
	width: 33%;
	float: left;
	height: 100%;
	text-align: left;
	border-box : box-sizing;
}

.j-nav .j-nav-more .j-btn {
	width: 35%;
	height: 100%;
	min-width:30px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.j-nav .j-nav-more .j-btn .icon-bar {
	background-color: #fff;
	margin-top: 4px;
	display: block;
	width: 100%;
	height: 2px;
	border-radius: 1px;
}

.j-nav .j-nav-selects {
	width: 33%;
	float: left;
	height: 100%;
}

.j-nav .j-nav-selects .j-btn {
	height: 100%;
	width: 100%;
	font-weight: bolder;
	radius: 0px;
	-webkit-border-radius: 0px;
}

.j-nav .j-nav-search {
	width: 33%;
	float: left;
	height: 100%;
	text-align: right;
	padding: 0 0 0 5%;
}

.j-nav .j-nav-search .js-content {
	width: 50%;
	height: 100%;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	float: right;
	box-sizing: border-box;
}

.j-nav .j-nav-search .js-content:focus {
	width: 100%;
	border: 2px solid #1ABC9C;
	transition-property: width;
	transition-duration: .5s;
	-webkit-transition-property: width;
	-moz-transition-property: width;
	-ms-transition-property: width;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-ms-transition-duration: .5s;
}

#j_back {
	margin: 0px
}

#j_back a {
	color: #1ABC9C;
	font-weight: bold;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clr-orange {
	color: #ff9900;
}

.clr-white {
	color: #ffffff;
}

.clr-green {
	color: #2BB6AA;
}
